<%- include('../parts/head', {bot, user, path}) %>
<style>
.form-control {
  background-color: var(--form-input);
  color: var(--input-color);
  border: none;
}
.form-control:focus {
  background-color: var(--form-input);
  color: var(--input-color);
  border: 3px solid var(--button-green);
}
  label {
    color: var(--label-color)!important;
  }
input[type="text"]:disabled {
  background-color: var(--input-disabled);
  color: gray;
  border: none;
  cursor: not-allowed;
}
</style>
  <br><br>
<div style="background-color: var(--form-background);" class="container p-4">
  <script>
        $(function() {
        var txt = $("input#botID");
        var func = function() {
            txt.val(txt.val().replace(/\s/g, ''));
        }
        txt.keyup(func).blur(func);
    });
  </script>
  <form method="POST">
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label><i class="fad fa-fingerprint"></i> Bot ID<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input type="text" name="botID" id="botID" class="form-control" placeholder="746673633551974456" required="required" value="" />
              </div>
              <div class="form-group">
                <label><i class="fad fa-user-crown"></i> Owner ID <small style="font-size: 12px;" class="title_divider_text">Your id is written automatically.</small></label>
                <input type="text" name="ownerID" id="ownerID" class="form-control" placeholder="Bot Sahibi" value="<%= user.id %>" required="required" disabled/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-users"></i> Co-Owners <small style="font-size: 12px;" class="title_divider_text">id1,id2,id3</small></label>
                <input type="text" name="coowners" id="coowners" class="form-control" placeholder="id,id2,id3"/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-terminal"></i> Prefix<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input type="text" name="prefix" id="prefix" class="form-control" placeholder="!" required="required"/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-google"></i> Website</label>
                  <input type="text" name="website" id="website" class="form-control" placeholder="https://voiddevs.org"/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-discord"></i> Support Server</label>
                 <input type="text" name="support" id="support" class="form-control" placeholder="https://vcodes.xyz/dc"/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-github"></i> Github Repository</label>
                  <input type="text" name="github" id="github" class="form-control" placeholder="https://github.com/vcodes-xyz/benedict"/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-image"></i> Background Image</label>
                  <input type="text" name="background" id="background" class="form-control" placeholder=""/>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label><i class="fad fa-text"></i> Short Description<span style="color: rgb(175, 22, 22)">*</span></label>
              <input name="shortDesc" id="shortDesc" class="form-control" placeholder="Short Description" maxlength="300" required="required">
          </div>
              <div class="form-group">
                <label><i class="fad fa-texts"></i> Long Description<span style="color: rgb(175, 22, 22)">*</span>
                <p class="text-muted">(Html supported but markdown not supported)</p>
                </label>
                  <textarea name="longDesc" id="longDesc" class="form-control" minlength="300" required="required" style="width: 100%; height: 300px;"></textarea>
              </div>
              <div class="form-group">
                <label><i class="fad fa-tags"></i> Tags<span style="color: rgb(175, 22, 22)">*</span></label>
                <select name="tags" id="tags" multiple required>
                  <% config.website.tags.map(a => {%>
                    <option value="<%= a %>"><%= a %></option>
                 <% }); %>
              </select>
            </div>
            </div>
      </div> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
        <label class="form-check-label" for="flexCheckDefault" required>
          I have read and accepted the <a href="/bot-rules">bot rules</a>.
        </label>
      </div>
      <p class="text-muted"></p>
      <p class="text-muted">Spaces with <span style="color: rgb(175, 22, 22)">*</span> next to it are required.</p>
      <button type="submit" name="btnSubmit" class="btn btn-vcodes"><i class="fal fa-paper-plane"></i> Submit</button>
  </form>
</div>
</div>
<br><br>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/bot/${urlParams.get('botID')}`;
      }
    })
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/addbot';
      }    
    })
    }
   </script>
<%- include('../parts/foot') %>
