<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>vCodes - Dashboard</title>
    <link href="../../../css/admin/vcodes.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link href="../../../css/admin/xyz.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <link href="https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://vcodes.xyz/js/socket.js"></script>
</head>

<body class="bg-dark" id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img width="64" src="../../img/logo.png">
                </div>
                <div class="sidebar-brand-text mx-3">vCodes<sup>xyz</sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-robot"></i>
                    <span>Bot List</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-dark-200 py-2 collapse-inner rounded">
                        <h6 class="collapse-header">vcodes.xyz</h6>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/unapproved">UnApproved Bots</a>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/approved">Approved Bots</a>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/certificate-apps">Certificate Apps</a>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/certified-bots">Certified Bots</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagess"
                    aria-expanded="true" aria-controls="collapsePagess">
                    <i class="fas fa-fw fa-sync-alt"></i>
                    <span>Uptime</span>
                </a>
                <div id="collapsePagess" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-dark-200 py-2 collapse-inner rounded">
                        <h6 class="collapse-header">vcodes.xyz</h6>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/uptimes">Links</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesss"
                    aria-expanded="true" aria-controls="collapsePagesss">
                    <i class="fas fa-fw fa-code"></i>
                    <span>Code Share</span>
                </a>
                <div id="collapsePagesss" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-dark-200 py-2 collapse-inner rounded">
                        <h6 class="collapse-header">vcodes.xyz</h6>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/addcode">Add Code</a>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/codes">Codes</a>
                    </div>
                </div>
            </li>
            <% if(config.bot.owners.includes(req.user.id)) { %>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#vCodesAdmin"
                        aria-expanded="true" aria-controls="vCodesAdmin">
                        <i class="fa fa-fw fa-user"></i>
                        <span>Administrator</span>
                    </a>
                    <div id="vCodesAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-dark-200 py-2 collapse-inner rounded">
                            <h6 class="collapse-header">vcodes.xyz</h6>
                            <a class="bg-dark-200 text-white collapse-item" href="/admin/userban">Bans</a>
                            <a class="bg-dark-200 text-white collapse-item" href="/admin/partners">Partners</a>
                        </div>
                    </div>
                </li>
            <% } %>
            <hr class="sidebar-divider">


        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-dark bg-dark-200 topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=user.username%>#<%=user.discriminator%></span>
                                <img class="img-profile rounded-circle"
                                    src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-dark-200"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item text-white" href="/user/<%=user.id%>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item text-white" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="bg-dark container-fluid">
