<%- include('parts/head', {bot, user, path}) %>
<%- include('parts/section') %>



<div class="container">
<div class="column">
    <p class="has-text-white title is-large"><i class="fa fa-badge-check has-text-warning"></i>&nbsp;Certified Bots</p>
    <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
    <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
        <% botdata.filter(a => a.certificate == "Certified").sort((a, b) => b.votes - a.votes).slice(0, 6).map(a => {%>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card vcodes-card-custom bg-vcodes border-white border-0">
          <div class="vcodes-card-custom-img" style="background-image: url(<%= a.backurl || "https://img.devsforum.net/tr/img/3V4N3m.png"%>);"></div>
          <div class="vcodes-card-custom-avatar">
            <img class="img-fluid" onerror="imgError(this);" src="<%=a.avatar%>" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><%= a.username %></h4>
            <p class="card-text"><%= a.shortDesc %></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-tag btn-bot">View</a>
            <a href="#" class="btn btn-tag btn-bot">Invite</a>
          </div>
        </div>
      </div>
            <% }) %>
    
             </div>
</div>
<br><br>
<div class="column">
    <p class="has-text-white title is-large"><i class="fad fa-fire has-text-danger"></i>&nbsp;Most Popular Bots</p>
    <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
  </div>
  <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
    <% botdata.sort((a, b) => b.votes - a.votes).slice(0, 6).filter(a => a.status == "Approved").map(a => {%>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card vcodes-card-custom bg-vcodes border-white border-0">
          <div class="vcodes-card-custom-img" style="background-image: url(<%= a.backurl || "https://img.devsforum.net/tr/img/3V4N3m.png"%>);"></div>
          <div class="vcodes-card-custom-avatar">
            <img class="img-fluid" onerror="imgError(this);" src="<%=a.avatar%>" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><%= a.username %></h4>
            <p class="card-text"><%= a.shortDesc %></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-tag btn-bot">View</a>
            <a href="#" class="btn btn-tag btn-bot">Invite</a>
          </div>
        </div>
      </div>
        <% }) %>

         </div>
<div class="column">
    <p class="has-text-white title is-large"><i class="fa fa-clock has-text-info"></i>&nbsp;Last Added Bots</p>
    <p class="content has-text-white" style="margin-top: -20px;">They are listed according to the date they were added.</p>
  </div>
  <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
    <% botdata.filter(a => a.status === "Approved").sort((a, b) => b.Date - a.Date).slice(0, 6).map(a => {%>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card vcodes-card-custom bg-vcodes border-white border-0">
          <div class="vcodes-card-custom-img" style="background-image: url(<%= a.backurl || "https://img.devsforum.net/tr/img/3V4N3m.png"%>);"></div>
          <div class="vcodes-card-custom-avatar">
            <img class="img-fluid" onerror="imgError(this);" src="<%=a.avatar%>" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><%= a.username %></h4>
            <p class="card-text"><%= a.shortDesc %></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-tag btn-bot">View</a>
            <a href="#" class="btn btn-tag btn-bot">Invite</a>
          </div>
        </div>
      </div>
        <% }) %>

         </div>
    </div>
<%- include('parts/foot') %>
