<%- include('parts/head', {bot, user, path}) %>
<section class="bg-vcodes jumbotron">
    <div class="container px-3 mt-3 mb-5">
      <div class="mb-3 mx-auto has-text-centered">
        <img draggable="false" style="z-index: -1!important" src="https://img.devsforum.net/tr/img/w1Z8N6.png" width="220" alt="Discord Bots | Discord Bot List">
        <h1 class="has-text-white title" style="margin-top: -2.3%; font-weight: 800;">vCodes</h1>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">
          Don't you want to expand and improve your Discord bot? Here vCodes are here for you!</p>
          <form action="/search">
              <input style="background-color: #2c2f33;" id="searchbar"  name="q" onkeyup="search_bot()" type="text"
              name="search" autocomplete="off" onfocus="if (!window.__cfRLUnblockHandlers) return false; $('.searchArea').show()" id="search" style="font-family: Arial, FontAwesome; z-index: 999999999; width: 470px;" class="z mainInput searchIcon isMobile" type="text" placeholder="Search bots..." data-cf-modified-510f8a7e40ac29a46d013099-="">
              <input type="hidden" name="page" value="1">
            </form>
        <div class="home-tags">
              <% config.tags.slice(0, 3).map(a => {%>
                  <a style="margin: 5px;" title="vCodes" href="/bots?tag=<%=a %>" class="btn btn-tag">
                      <%= a %>
                      </a>
                <% }) %>
                <a style="margin: 5px;" title="vCodes" href="/bots?tag=All" class="btn btn-tag">
                  Other Tags
              </a>
        </div>
      </div>
    </div>
</div>
</section>
<svg style="margin-top: -9%; pointer-events: none" class="wave" width="100%" height="100px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
  <defs>
      <style>
          .ae {
              fill: none;
          }
          
          .b {
              clip-path: url(#a);
          }
          
          .c,
          .d {
              fill: #2c2f33;
          }
          
          .d {
              opacity: 0.5;
              isolation: isolate;
          }
      </style>
      <clipPath id="a">
          <rect class="a" width="1920" height="75"></rect>
      </clipPath>
  </defs>
  <title>wave</title>
  <g class="b">
      <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
  </g>
  <g class="b">
      <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
  </g>
  <g class="b">
      <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
  </g>
  <g class="b">
      <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
  </g>
  <br><br><br>
</svg>

<div class="container">
    <div class="column">
        <p class="has-text-white title is-large"><i class="fa fa-ad has-text-info"></i>&nbsp;Premium Bots</p>
        <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
      </div>
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
        <% botdata.sort((a, b) => b.votes - a.votes).slice(0, 8).filter(a => a.premium == "Premium").map(a => {%>
                <div class="column is-3 mb-5">    
                    <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                      <div>
                        <img draggable="false" onerror="imgError(this);" alt="<%= a.username %>#<%=a.discrim%>" src="<%= a.avatar %>" class="is-pulled-left cardvcodesbotIMG z">
                      </div>
                      <div class="is-pulled-right is-inline-block">
                         <span class="tag is-dark mt-1 w-100">Votes: <%= a.votes || "0" %></span>
                         </div>
                       <br><br><br>
                      <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-3">
                     <%= a.username %>
                     <% if(a.certificate == "Certified") {%>
                        <a data-tooltip="Verified Bot"
                        data-tooltip-location="top"><i class="fad fa-badge-check has-text-primary"></i></a>
                     <% } %>
                     <% if(a.premium == "Premium") {%>
                        <a data-tooltip="Premium Bot"
                        data-tooltip-location="top"><i class="fad fa-diamond has-text-primary"></i></a>
                     <% } %>
                      <p style="margin-top: -10px;" class="cardvcodesbotDesc"><%= a.shortDesc %></p>
                      <center>
    
                      <div class="cardvcodesbotButtons">
                          <a href="/bot/<%= a.botID %>" title="vCodes" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;View</a>
                          &nbsp;&nbsp;<a target="_blank" title="vCodes" href="/redirect?type=botInvite&botID=<%= a.botID %>" class="btn btn-card"><i class="fad fa-user-plus"></i>&nbsp;Invite</a>
                          <br><br>
    
                         </div>
                     </center>
                    </div>
                </div>
            <% }) %>
    
             </div>
             <br><br>
<div class="column">
    <p class="has-text-white title is-large"><i class="fa fa-badge-check has-text-warning"></i>&nbsp;Certified Bots</p>
    <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
    <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
        <% botdata.sort((a, b) => b.votes - a.votes).slice(0, 8).filter(a => a.certificate == "Certified").map(a => {%>
                <div class="column is-3 mb-5">    
                    <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                      <div>
                        <img draggable="false" onerror="imgError(this);" alt="<%= a.username %>#<%=a.discrim%>" src="<%= a.avatar %>" class="is-pulled-left cardvcodesbotIMG z">
                      </div>
                      <div class="is-pulled-right is-inline-block">
                            <span class="tag is-dark mt-1 w-100">Votes: <%= a.votes || "0" %></span>
                         </div>
                       <br><br><br>
                      <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-3">
                        <%= a.username %>
                     <% if(a.certificate == "Certified") {%>
                        <a data-tooltip="Certified Bot"
                        data-tooltip-location="top"><i class="fad fa-badge-check has-text-primary"></i></a>
                     <% } %>
                     <% if(a.premium == "Premium") {%>
                        <a data-tooltip="Premium Bot"
                        data-tooltip-location="top"><i class="fad fa-diamond has-text-primary"></i></a>
                     <% } %>
                      <p style="margin-top: -10px;" class="cardvcodesbotDesc"><%= a.shortDesc %></p>
                      <center>
    
                      <div class="cardvcodesbotButtons">
                          <a href="/bot/<%= a.botID %>" title="vCodes" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;View</a>
                          &nbsp;&nbsp;<a target="_blank" title="vCodes" href="/redirect?type=botInvite&botID=<%= a.botID %>" class="btn btn-card"><i class="fad fa-user-plus"></i>&nbsp;Invite</a>
                          <br><br>
    
                         </div>
                     </center>
                    </div>
                </div>
            <% }) %>
    
             </div>
</div>
<br><br>
<div class="column">
    <p class="has-text-white title is-large"><i class="fad fa-fire has-text-danger"></i>&nbsp;Most Popular Bots</p>
    <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
  </div>
  <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
    <% botdata.sort((a, b) => b.votes - a.votes).slice(0, 8).filter(a => a.status == "Approved").map(a => {%>
            <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="<%= a.username %>#<%=a.discrim%>" src="<%= a.avatar %>" class="is-pulled-left cardvcodesbotIMG z">
                  </div>
                  <div class="is-pulled-right is-inline-block">
                        <span class="tag is-dark mt-1 w-100">Votes: <%= a.votes || "0" %></span>
                     </div>
                   <br><br><br>
                  <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-3">
                    <%= a.username %>
                 <% if(a.certificate == "Certified") {%>
                    <a data-tooltip="Verified Bot"
                    data-tooltip-location="top"><i class="fad fa-badge-check has-text-primary"></i></a>
                 <% } %>
                 <% if(a.premium == "Premium") {%>
                    <a data-tooltip="Premium Bot"
                    data-tooltip-location="top"><i class="fad fa-diamond has-text-primary"></i></a>
                 <% } %>
                 </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc"><%= a.shortDesc %></p>
                  <center>

                  <div class="cardvcodesbotButtons">
                      <a href="/bot/<%= a.botID %>" title="vCodes" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;View</a>
                      &nbsp;&nbsp;<a target="_blank" title="vCodes" href="/redirect?type=botInvite&botID=<%= a.botID %>" class="btn btn-card"><i class="fad fa-user-plus"></i>&nbsp;Invite</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
        <% }) %>

         </div>
</div>
<%- include('parts/foot') %>
