<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<style>
  .partner-ownerName {
    color: #fff;
    padding: 5px;
  }
  .partner-ownerName:hover {
    color: #ccc;
  }
</style>
<div class="container">
<br><br><br><br>
<p class="has-text-white title is-large"><i class="fad fa-handshake has-text-primary"></i>&nbsp;Partners</p>
<p class="content has-text-white" style="margin-top: -20px;">Join our <a href="/dc">discord server</a> to partner with us.</p>
<div class="columns is-multiline is-desktop is-variable is-7 mt-3 pt-5">
  <% db.get(`partners`).map(a => { %>
        <div class="col-md-6 col-lg-4 pb-3">
          <div data-aos="fade-down">
        <div class="card vcodes-card-custom bg-vcodes">
          <div class="vcodes-card-custom-img" style="background-image: url(https://i.hizliresim.com/2sdunq.png);"></div>
          <div class="vcodes-card-custom-avatar">
            <img class="img-fluid" onerror="imgError(this);" src="<%=a.icon%>" alt="Avatar" />
          </div>
          <div class="card-body">
           <div class="is-pulled-right mt-vcodes mt-1">
                <a data-tooltip="Owner" href="/user/<%= a.ownerID%>"data-tooltip-location="left" class="badge badge-stats mb-vcodes mt-1 w-100"><span class="partner-ownerName"><i class="fad fa-user-crown"></i>&nbsp;&nbsp;<%= bot.users.cache.get(a.ownerID) ? bot.users.cache.get(a.ownerID).username : "undefined" %>#<%= bot.users.cache.get(a.ownerID) ? bot.users.cache.get(a.ownerID).discriminator : "0000" %></span></a>
              </div>
            <h4 translate="no" class="card-title"><%= a.serverName %>
              <span data-tooltip="Verified Server" data-tooltip-location="top"><i class="fad fa-badge-check has-text-success"></i></span>
            </h4>
            <p translate="no" class="card-text vCodesbotDesc"><%= a.description %></p>
          </div>
          <div class="card-footer">
            <a href="<%= a.website %>" class="btn btn-tag btn-block"><i class="fad fa-eye"></i>&nbsp;View</a>
          </div>
        </div>
          </div>
      </div>
  <% }) %>
</div>
</div>
<%- include('parts/foot') %>