<%- include('../parts/head', {bot, user, path}) %>
<%- include('../parts/section') %>


    <div class="container">
        <div class="column">
            <p class="has-text-white title is-large" style="text-transform: capitalize;"><i class="fa fa-tag has-text-info"></i>&nbsp;<%= req.params.tag %> Bots</p>
            <p class="content has-text-white" style="margin-top: -20px;">They are ranked according to the votes they received.</p>
          </div>
    <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">

    <%
       for (let i = (page - 1) * 8; i < data.length; i++) {
       if (i === 8 * page) break;
       let a = data.sort((a, b) => b.votes - a.votes)[i]
    %>  
    <% if(a.status === "Approved") { %>
    %>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card vcodes-card-custom bg-vcodes border-white border-0">
          <div class="vcodes-card-custom-img" style="background-image: url(<%= a.backurl || "https://img.devsforum.net/tr/img/3V4N3m.png"%>);"></div>
          <div class="vcodes-card-custom-avatar">
            <img class="img-fluid" src="<%=a.avatar%>" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><%= a.username %></h4>
            <p class="card-text"><%= a.shortDesc %></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-tag btn-bot">View</a>
            <a href="#" class="btn btn-tag btn-bot">Invite</a>
          </div>
        </div>
      </div>
             <% } %>
         <% } %>
         </div>
</div>

<center>
<%
if (page != 1) {
%>
<a data-tooltip="Previous Page" data-tooltip-location="top" href="/bots?page=<%= page-1; %>"  class="btn" style="padding: 14px;background-color: #242526; color: white;" >
    <i class="fad fa-arrow-left"></i>
</a>
  <% } else { %>
    <a disabled="" class="btn" style="padding: 14px;opacity: .4; background-color: #242526; color: white;" >
        <i class="fad fa-arrow-left"></i>
    </a>
  <% } %>
  <a data-tooltip="Current Page" data-tooltip-location="top"class="btn" style="background-color: #242526; color: white;">
    <%= page %>
  </a>
  <%
  if (page != Math.ceil(data.length / 8) && data.length > 0) {
  %>
  <a data-tooltip="Next Page" data-tooltip-location="top" href="/bots?tag=<%=req.query.tag%>&page=<%= Number(page)+ Number(1); %>"  class="btn" style="padding: 14px;background-color: #242526; color: white;" >
    <i class="fad fa-arrow-right"></i>
</a>
  <% } %>
    </div>
</center>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/bot/${urlParams.get('botID')}`;
  }
})
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/addbot';
  }    
})
    }
   </script>
<%- include('../parts/foot') %>
